! COLORS
! Theme: Base16 Tomorrow Night
! Scheme: Chris Kempson (http://chriskempson.com)

#define base00 #1d1f21
#define base01 #282a2e
#define base02 #373b41
#define base03 #969896
#define base04 #b4b7b4
#define base05 #c5c8c6
#define base06 #e0e0e0
#define base07 #ffffff
#define base08 #cc6666
#define base09 #de935f
#define base0A #f0c674
#define base0B #b5bd68
#define base0C #8abeb7
#define base0D #81a2be
#define base0E #b294bb
#define base0F #a3685a

*.foreground:   base05
*.background:   base00
*.cursorColor:  base05

*.color0:       base00
*.color1:       base01
*.color2:       base02
*.color3:       base03
*.color4:       base04
*.color5:       base05
*.color6:       base06
*.color7:       base07

*.color8:       base08
*.color9:       base09
*.color10:      base0A
*.color11:      base0B
*.color12:      base0C
*.color13:      base0D
*.color14:      base0E
*.color15:      base0F

! URxvt
URxvt.geometry: 		400x400
URxvt.internalBorder:		6
URxvt.font:     		xft:bitstream vera sans mono:size=10:antialias=true
URxvt.boldFont: 		xft:bitstream vera sans mono:bold:size=10:antialias=true
URxvt.scrollBar: 		false
!URxvt.scrollBar: 		true
!URxvt.scrollBar_right: 		true
URxvt.keysym.Shift-Control-V:	eval:paste_clipboard
URxvt.keysym.Shift-Control-C:	eval:selection_to_clipboard
URxvt.color1:			base02

! CURSOR
Xcursor.theme: Hackneyed
Xcursor.size: 24
